<% if post.comments.any? %>
  <ul>
    <% post.comments.each do |comment| %>
      <li>
        <%= comment.user.first_name %>:
        <%= comment.content %>
        <%= my_time(comment) %>
        <%= link_to 'delete comment', comment, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
      </li>
      <div>
        Likes: <%= comment.likes.count %>
        <% if @like = current_user_like?(comment) %>
          <%= button_to "DisLike", @like, :method => :delete %>
        
        <% else  %>                
          <%= button_to "Like", :controller => "likes", :action => "create",
                              :params => { :id => comment, :type => "Comment" } %>
        <% end  %> 
      </div>
      <br>
    <% end %>
  </ul>
<% end %>
