<div>
  <% if post.comments.any? %>
    <ul>
      <% post.comments.each do |comment| %>
        <li>
          <%= image_tag comment.user.gravatar_url, :class => "gravatar" %>
          <%= link_to "#{comment.user.first_name} #{comment.user.last_name}", comment.user %><br>
          <b><%= comment.content %></b><br>
          <%= my_time(comment) %>
          <%= link_to 'delete comment', comment, method: :delete,
                                    data: { confirm: "Are you sure?" } %>
        </li>
        <%= render 'likes/shared/show', :object => comment %>
        <br>
      <% end %>
    </ul>
  <% end %>
</div>
