<h1>Hello <%= current_user.first_name %></h1>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %><br>

<%= render 'posts/shared/post_form' %>
<br>
<br>
<% if current_user.posts.any? %>
  <div>
    <% current_user.posts.each do |post| %>
      <div>
        <%= post.content %> <%= link_to 'delete', post, method: :delete,
                                  data: { confirm: "Are you sure?" } %></li>
      </div>
      <br>
      <div>
        <%= render 'comments/form', :post_id => post.id %><br>
      </div>
    <% end %>
    <br>
  </div>
<% end %>
